.backButton {
  margin-top: 25px;
  display: flex;
  justify-content: flex-end;
}

.dialogContent {
  width: 30%;
}

.formFieldContainer {
  display: flex;
  flex-direction: row;
  gap: var(--space-lg);
}

.formLabelContainer {
  width: 120px;
}
