.icon {
    flex-shrink: 0;
    max-width: none;
    width: 20px;
    height: 20px;
}

.accent {
    color: var(--color-accent);
}

.accent:hover {
    color: var(--color-accent-dark-1);
}

.accent:active {
    color: var(--color-accent-light-1);
}

.white {
    color: var(--color-background);
}

.white:hover {
    color: var(--color-background-dark-1);
}

.white:active {
    color: var(--color-background-light-1);
}

.grey {
    color: var(--color-grey-dark-2);
}

.grey:hover {
    color: var(--color-grey-dark-3);
}

.grey:active {
    color: var(--color-grey-dark-1);
}

.green {
    fill: var(--color-green-dark-2);
    stroke-width: 0;
}

.green:hover {
    fill: var(--color-green-dark-3);
}

.green:active {
    color: var(--color-green-dark-1);
}

.filled {
    font-variation-settings: 'FILL' 1;
}
