.root {
  border-radius: var(--border-radius-large);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.selectTrigger {
  all: unset;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  border-radius: var(--border-radius-lg);
  padding: 0 var(--space-2xs);
  font-size: var(--font-size-sm);
  background-color: var(--color-grey-100);
  color: var(--color-text);
  border: var(--border-width-thin) solid var(--color-grey-500);
  overflow: hidden;
}

.selectTrigger > span:first-child {
  flex: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: left;
  min-width: 0;
  padding: var(--space-2xs);
}

.selectTrigger:hover {
  background-color: var(--color-grey-200);
}
.selectTrigger:focus {
  box-shadow: 0 0 0 2px var(--color-grey-500);
}
.selectTrigger[data-placeholder] {
  color: var(--inactive-color-normal);
}

.selectIcon {
  color: var(--color-text);
}

.selectContent {
  overflow: hidden;
  background-color: var(--color-background);
  border-radius: var(--border-radius-lg);
  box-shadow: var(--shadow-md);
}

.selectViewport {
  padding: 5px;
}

.selectItem {
  font-size: 13px;
  line-height: 1;
  color: var(--color-text);
  border-radius: var(--border-radius-lg);
  display: flex;
  align-items: center;
  height: 25px;
  padding: var(--space-md) var(--space-lg) var(--space-md) var(--space-lg);
  position: relative;
  user-select: none;
}

.selectItem[data-disabled] {
  color: var(--inactive-color-normal);
  pointer-events: none;
}
.selectItem[data-highlighted] {
  outline: none;
  background-color: var(--color-grey-200);
}

.selectLabel {
  padding: 0 25px;
  font-size: 12px;
  line-height: 25px;
  color: var(--inactive-color-normal);
}

.selectSeparator {
  height: 1px;
  background-color: var(--color-grey-800);
  margin: 5px;
}

.selectItemIndicator {
  position: absolute;
  left: 0;
  align-items: center;
  justify-content: center;
}

.selectScrollButton {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  background-color: var(--color-background);
  color: var(--color-text);
  cursor: default;
}
