.chartControlContainer {
  flex: 1.25;
  margin: var(--space-sm);
  padding: var(--space-md);
  border-right: var(--border-width-thin) solid var(--color-grey-500);
}

.formElements {
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
}

.formField {
  display: flex;
  flex-direction: row;
  gap: var(--space-md);
  align-items: center;
  width: 100%;
}

.formLabel {
  width: 120px;
}

.accordionTriggerHeading {
  display: flex;
  flex-direction: row;
  gap: var(--space-2xs);
  justify-content: center;
}

.infoTooltipMessage {
  line-height: var(--line-height-relaxed);
  width: 200px;
}

.inputContainer {
  display: flex;
  flex-direction: row;
}

.textInputContainer {
  width: 140px;
}

.actionsButtonContainer {
  padding: var(--space-sm);
}
