.chartControlContainer {
  flex: 1.25;
  margin: var(--space-sm);
  padding: var(--space-md);
  border-right: var(--border-width-thin) solid var(--color-grey-500);
}

.formElements {
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
}

.infoTooltipMessage {
  line-height: var(--line-height-relaxed);
  width: 200px;
}

.actionsButtonContainer {
  padding: var(--space-sm);
}

.formLabel {
  min-width: 120px;
}
