.group {
  border-radius: var(--border-radius-full);
  transition: background-color 0.15s ease-out;
}

.group:hover {
  background-color: var(--color-hover);
}

.caret {
  opacity: 0.7;
}

.caret:hover {
  opacity: 1;
}
