.button {
    padding: var(--space-xs);
    border-radius: var(--border-radius-full);
    display: flex;
    cursor: pointer;
    transition: transform 0.1s ease-out;
}

.button:active {
    transform: scale(0.9);
}

.accent {
    color: var(--color-accent);
}

.white {
    background-color: var(--color-background);
}

.white:hover {
    background-color: var(--color-grey);
}

.white:active {
    background-color: var(--color-grey-light-1);
}

.grey {
    background-color: var(--color-background);
}

.grey:hover {
    background-color: var(--color-grey);
}

.grey:active {
    background-color: var(--color-grey-light-1);
}

.transparent {
    background-color: transparent;
}
