.button {
  padding: var(--space-2xs);
  border-radius: var(--border-radius-full);
  display: flex;
  cursor: pointer;
  transition: transform 0.1s ease-out;
  align-items: center;
}

.button:active {
  transform: scale(0.9);
}

.accent {
  background-color: var(--color-primary-500);
}

.white {
  background-color: var(--color-background);
}

.white:hover {
  background-color: var(--color-grey-500);
}

.white:active {
  background-color: var(--color-grey-400);
}

.grey {
  background-color: var(--color-background);
}

.grey:hover {
  background-color: var(--color-grey-500);
}

.grey:active {
  background-color: var(--color-grey-400);
}

.transparent {
  background-color: transparent;
}
