.sidebar {
  /* padding: var(--space-xs); */
  /* margin: var(--space-xs); */
  background-color: var(--color-grey-100);
  flex: 1.5;
  max-width: 50px;
  border-right: var(--border-divider);
}

.navItems {
  display: flex;
  flex-direction: column;
  gap: 0;
  align-items: center;
}

.navItem {
  padding: var(--space-xs);
  border-radius: var(--border-radius-full);
  transition: var(--transition-bg-color);
}

.companyLogo {
  margin-top: var(--space-sm);
  margin-bottom: var(--space-2xl);
}

.link {
  text-decoration: none;
  color: var(--color-text);
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.logo {
  width: 34px;
  height: 34px;
}
