.toolbar {
  background-color: var(--color-grey-200);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--space-2xs) 0 var(--space-2xs);
}

.cellNameContainer {
  padding: 0 var(--space-xs) 0 var(--space-xs);
  color: var(--color-grey-700);
  font-size: var(--font-size-sm);
  border-radius: var(--border-radius-lg);
}

.cellNameContainer:hover {
  background-color: var(--color-grey-200);
}

.toolbar__inlineEdit {
  background-color: var(--color-grey-200);
}

.toolbar__select-trigger {
  margin: var(--space-2xs) 0;
  font-size: var(--font-size-xs);
}
