.connectionsContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: var(--space-md);
  overflow: hidden;
}

.connectionsHeader {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}

.connectionsTable {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
