html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

ul,
ul li,
ul ul li {
  margin: 0;
  padding: 0;
  text-indent: 0;
  list-style-type: none;
}

button {
  /* background-color: unset; */
}

:root {
  /* Color System */
  --color-primary-base: 250, 23%, 26%;
  --color-primary-900: hsla(250, 23%, 26%, 1);
  --color-primary-800: hsla(250, 31%, 40%, 1);
  --color-primary-700: hsla(250, 40%, 51%, 1);
  --color-primary-600: hsla(250, 49%, 58%, 1);
  --color-primary-500: hsla(250, 59%, 67%, 1);
  --color-primary-400: hsla(250, 70%, 75%, 1);
  --color-primary-300: hsla(250, 78%, 81%, 1);
  --color-primary-200: hsla(250, 88%, 86%, 1);
  --color-primary-100: hsla(240, 80%, 95%, 1);

  /* Greys */
  --color-grey-900: hsla(252, 5%, 16%, 1);
  --color-grey-800: hsla(251, 5%, 26%, 1);
  --color-grey-700: hsla(250, 5%, 40%, 1);
  --color-grey-600: hsla(253, 5%, 55%, 1);
  --color-grey-500: hsla(250, 5%, 68%, 1);
  --color-grey-400: hsla(250, 5%, 75%, 1);
  --color-grey-300: hsla(248, 5%, 82%, 1);
  --color-grey-200: hsla(245, 5%, 90%, 1);
  --color-grey-100: hsla(240, 30%, 98%, 1);

  --color-green: hsl(84, 96%, 64%, 1);
  --color-green-dark-1: hsl(84, 62%, 52%, 1);
  --color-green-dark-2: hsl(84, 57%, 42%, 1);
  --color-green-dark-3: hsl(84, 61%, 31%, 1);
  --color-green-dark-4: hsl(84, 64%, 20%, 1);
  --color-green-dark-5: hsl(84, 73%, 12%, 1);
  --color-green-dark-6: hsl(84, 67%, 5%, 1);

  --color-red-light-1: hsl(0, 80%, 70%, 1);
  --color-red-light-2: hsl(0, 75%, 80%, 1);
  --color-red-light-3: hsl(0, 70%, 85%, 1);
  --color-red-light-4: hsl(0, 65%, 90%, 1);
  --color-red-light-5: hsl(0, 100%, 94%, 1);
  --color-red-light-6: hsl(0, 55%, 98%, 1);
  --color-red: hsl(0, 84%, 60%, 1);
  --color-red-dark-1: hsl(0, 72%, 50%, 1);
  --color-red-dark-2: hsl(0, 75%, 40%, 1);
  --color-red-dark-3: hsl(0, 78%, 30%, 1);
  --color-red-dark-4: hsl(0, 80%, 20%, 1);
  --color-red-dark-5: hsl(0, 85%, 12%, 1);
  --color-red-dark-6: hsl(0, 90%, 5%, 1);

  /* Semantic Variables */
  --color-background: var(--color-grey-100);
  --color-hover: var(--color-grey-200);
  --color-text: var(--color-grey-900);
  --color-text-placeholder: var(--color-grey-200);
  --overlay-color: hsla(0, 0%, 0%, 0.6);
  --inactive-color-normal: rgba(0, 0, 0, 0.5);
  --inactive-color-high: rgba(0, 0, 0, 0.1);
  --shadow-color: hsla(0, 0%, 0%, 0.2);
  --font-color: var(--color-grey-900);
  --label-color: var(--color-grey-900);
  --label-value-color: var(--color-grey-700);

  --label-font-weight: var(--font-weight-medium);

  /* Font Families */
  --font-family-primary: "Roboto", sans-serif;
  --font-family-secondary: "Playfair Display", serif;
  --font-family-mono:
    "JetBrains Mono", "Fira Code", "SF Mono", Menlo, monospace;
  --font-primary: normal 400 var(--font-size-base) var(--font-family-primary);
  --font-secondary: normal 400 var(--font-size-base)
    var(--font-family-secondary);

  /* Typography Scale */
  --font-size-xs: 0.75rem;
  /* 12px */
  --font-size-sm: 0.875rem;
  /* 14px */
  --font-size-base: 1rem;
  /* 16px */
  --font-size-lg: 1.125rem;
  /* 18px */
  --font-size-xl: 1.25rem;
  /* 20px */
  --font-size-2xl: 1.5rem;
  /* 24px */
  --font-size-3xl: 1.875rem;
  /* 30px */
  --font-size-4xl: 2.25rem;
  /* 36px */
  --font-size-5xl: 3rem;
  /* 48px */
  --font-size-6xl: 3.75rem;
  /* 60px */

  /* Line Heights */
  --line-height-tightest: 1;
  --line-height-tight: 1.1;
  --line-height-snug: 1.2;
  --line-height-comfortable: 1.3;
  --line-height-cozy: 1.4;
  --line-height-normal: 1.5;
  --line-height-relaxed: 1.75;

  /* Font Weights */
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  /* Letter Spacing */
  --letter-spacing-tight: -0.02em;
  --letter-spacing-snug: -0.01em;
  --letter-spacing-normal: 0;
  --letter-spacing-wide: 0.05em;

  /* Spacing System */
  --space-2xs: 0.25rem;
  /* 4px */
  --space-xs: 0.5rem;
  /* 8px */
  --space-sm: 0.75rem;
  /* 12px */
  --space-md: 1rem;
  /* 16px */
  --space-lg: 1.5rem;
  /* 24px */
  --space-xl: 2rem;
  /* 32px */
  --space-2xl: 3rem;
  /* 48px */
  --space-3xl: 4rem;
  /* 64px */

  /* button sizes */
  --button-size-small: 0.5rem;
  --button-size-normal: 1.25rem;
  --button-size-large: 2rem;

  /* Border System */

  /* Border Widths */
  --border-width-thin: 0.5px;
  --border-width-medium: 1px;
  --border-width-thick: 2px;
  --border-width-heavy: 4px;

  /* Border Styles */
  --border-style-solid: solid;
  --border-style-dashed: dashed;
  --border-style-dotted: dotted;

  /* Border Colors */
  --border-color-default: var(--color-grey-500);
  --border-color-background: var(--color-grey-100);
  --border-color-light: var(--color-grey-200);
  --border-color-dark: var(--color-grey-300);
  --border-color-focus: var(--color-primary-500);
  --border-color-error: var(--color-red-dark-2);
  --border-color-success: var(--color-green-dark-2);

  /* Semantic Borders */
  --border-input: var(--border-width-medium) var(--border-style-solid)
    var(--border-color-default);
  --border-input-focus: var(--border-width-medium) var(--border-style-solid)
    var(--border-color-focus);

  --border-section: var(--border-width-medium) var(--border-style-solid)
    var(--border-color-default);
  --border-card: var(--border-width-thin) var(--border-style-solid)
    var(--border-color-light);
  --border-cell: var(--border-width-medium) var(--border-style-solid)
    var(--border-color-default);
  --border-table-cell: var(--border-width-thin) var(--border-style-solid)
    var(--border-color-light);
  --border-divider: var(--border-width-thin) var(--border-style-solid)
    var(--border-color-light);
  --border-separator: var(--border-width-thin) var(--border-style-dashed)
    var(--border-color-default);
  --border-default-thin: var(--border-width-thin) var(--border-style-solid)
    var(--border-color-light);
  --border-default-medium: var(--border-width-medium) var(--border-style-solid)
    var(--border-color-light);
  --border-primary-medium: var(--border-width-medium) var(--border-style-solid)
    var(--color-primary-200);
  --border-background-thin: var(--border-width-thin) var(--border-style-solid)
    var(--border-color-background);
  --border-dark-thin: var(--border-width-thin) var(--border-style-solid)
    var(--border-color-dark);
  --border-dark-medium: var(--border-width-medium) var(--border-style-solid)
    var(--border-color-dark);
  --border-focus-medium: var(--border-width-medium) var(--border-style-solid)
    var(--border-color-dark);

  /* Border Radius */
  --border-radius-none: 0;
  --border-radius-sm: 0.125rem;
  /* 2px */
  --border-radius-md: 0.25rem;
  /* 4px */
  --border-radius-lg: 0.5rem;
  /* 8px */
  --border-radius-xl: 0.75rem;
  /* 12px */
  --border-radius-2xl: 1rem;
  /* 16px */
  --border-radius-full: 9999px;

  /* Icon Sizes */
  --icon-sm: 0.75rem;
  --icon-md: 1rem;
  --icon-lg: 1.5rem;
  --icon-xl: 2rem;
  --icon-2xl: 3rem;

  /* Shadow System */
  --shadow-2xs:
    0 1px 2px hsla(0, 0%, 0%, 0.08), 0 1px 1px hsla(0, 0%, 0%, 0.12);
  --shadow-xs: 0 1px 3px hsla(0, 0%, 0%, 0.12), 0 1px 2px hsla(0, 0%, 0%, 0.24);
  --shadow-sm: 0 3px 6px hsla(0, 0%, 0%, 0.15), 0 2px 4px hsla(0, 0%, 0%, 0.12);
  --shadow-md:
    0 3px 6px hsla(0, 0%, 0%, 0.1), 0 10px 20px hsla(0, 0%, 0%, 0.15);
  --shadow-lg:
    0 5px 10px hsla(0, 0%, 0%, 0.05), 0 15px 25px hsla(0, 0%, 0%, 0.15);
  --shadow-xl: 0 20px 40px hsla(0, 0%, 0%, 0.2);

  --shadow-primary-inset: inset 0 1px 0 var(--color-primary-100);
  --shadow-green-inset: inset 0 1px 0 var(--color-green);

  /* z-index */
  --z-index-1: 1;
  --z-index-2: 2;
  --z-index-3: 3;
  --z-index-4: 4;
  --z-index-5: 5;
  --z-index-6: 6;
  --z-index-7: 7;
  --z-index-8: 8;
  --z-index-9: 9;
  --z-index-10: 10;

  /* transitions */
  --transition-bg-color:
    background-color 0.2s ease,
    transform 0.2s ease font-size: var(--font-size-base);
}

html {
  font: var(--font-primary);
  font-size: var(--font-size-base);
}

body {
  color: var(--color-text);
  background-color: var(--color-background);
  font-family: var(--font-family-primary);
}

h1 {
  font-size: clamp(var(--font-size-4xl), 5vw, var(--font-size-4xl));
  line-height: var(--line-height-tight);
  font-weight: var(--font-weight-bold);
  letter-spacing: var(--letter-spacing-tight);
}

h2 {
  font-size: clamp(var(--font-size-2xl), 4vw, var(--font-size-3xl));
  line-height: var(--line-height-snug);
  font-weight: var(--font-weight-semibold);
  letter-spacing: var(--letter-spacing-snug);
}

h3 {
  font-size: clamp(var(--font-size-xl), 3vw, var(--font-size-2xl));
  line-height: var(--line-height-comfortable);
  font-weight: var(--font-weight-semibold);
  letter-spacing: var(--letter-spacing-normal);
}

h4 {
  font-size: clamp(var(--font-size-lg), 2.5vw, var(--font-size-2xl));
  line-height: var(--line-height-cozy);
  font-weight: var(--font-weight-medium);
  letter-spacing: var(--letter-spacing-normal);
}

h5 {
  font-size: clamp(var(--font-size-base), 2vw, var(--font-size-xl));
  line-height: var(--line-height-normal);
  font-weight: var(--font-weight-medium);
  letter-spacing: var(--letter-spacing-normal);
}

h6 {
  font-size: clamp(var(--font-size-sm), 1.5vw, var(--font-size-base));
  line-height: var(--line-height-normal);
  font-weight: var(--font-weight-medium);
  text-transform: uppercase;
  letter-spacing: var(--letter-spacing-wide);
}

a {
  color: var(--color-text);
  text-decoration: none;
}
