.tableContainer {
    overflow-y: auto;
    overflow-x: auto;
    scrollbar-width: thin;
}

.table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: var(--shadow);
    border-radius: var(--border-radius-lg);
}

.tableHeaderCell,
.tableDataCell {
    padding: 1rem 1rem;
    text-align: left;
    font: var(--font-primary);
}

.tableHeaderCell {
    background-color: var(--color-accent-light-2);
    color: var(--color-grey-dark-2);
    font-weight: var(--font-weight-bold);
    position: sticky;
    top: 0px;
}
 
.tableDataCell {
    border-bottom: var(--border-table-cell);
}

.tableBodyRow:hover {
    background-color: var(--color-grey-light-2);
}

.tableBody tr:last-child td {
    border-bottom: none;
}

.tableBody tc:last-child td {
    border-right: none;
}

.thead th:last-child {
    border-right: none;
}

.tableBody td:last-child {
    border-right: none;
}
