.tableContainer {
    overflow-y: auto;
}

.table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: var(--shadow);
    border-radius: var(--border-radius-lg);
}

.table th,
.table td {
    padding: 1rem 1rem;
    text-align: left;
    font: var(--font-primary);
}

.table th {
    background-color: var(--color-accent-light-2);
    color: var(--color-grey-dark-2);
    font-weight: var(--font-weight-bold);
    position: sticky;
    top: 0px;
}
 
.table td {
    border-bottom: var(--border-table-cell);
}

.table tbody tr:hover {
    background-color: var(--color-grey);
}
