.overallContainer {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
}

.tableContainer {
  overflow-y: auto;
  overflow-x: auto;
  scrollbar-width: thin;
  display: flex;
  flex-direction: column;
  border-radius: var(--border-radius-lg);
  border: var(--border-default-medium);
}

.table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: var(--shadow);
}

.tableHeaderCell,
.tableDataCell {
  text-align: left;
  font: var(--font-primary);
}

.tableHeaderCell {
  padding: var(--space-sm);
  border-bottom: var(--border-table-cell);
  color: var(--font-color);
  font-weight: var(--font-weight-medium);
  position: sticky;
  top: 0px;
}

.tableDataCell {
  padding: var(--space-xs);
  border-bottom: var(--border-table-cell);
}

.tableHeaderCellCompact {
  padding: var(--space-2xs) var(--space-xs);
  font-size: var(--font-size-xs);
}

.tableDataCellCompact {
  padding: var(--space-2xs) var(--space-xs);
  font-size: var(--font-size-xs);
}

.tableBodyRow:hover {
  background-color: var(--color-grey-200);
}

.tableBody tr:last-child td {
  border-bottom: none;
}

.tableBody tc:last-child td {
  border-right: none;
}

.thead th:last-child {
  border-right: none;
}

.thead th:first-child {
}

.tableBody td:last-child {
  border-right: none;
}
