.settingsContainer {
  flex: 1;
  padding: var(--space-lg);
  display: flex;
  flex-direction: column;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  margin: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.settingsHeader {
  margin-bottom: var(--space-lg);
}