.navList {
  display: flex;
  flex-direction: column;
  gap: var(--space-2xs);
}

.navItem {
  width: 100%;
  cursor: pointer;
  border-radius: var(--border-radius-lg);
  transition: var(--transition-bg-color);
}

.navItemActive {
  background-color: var(--color-grey-100);
}
