.trigger {
  all: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--space-2xs);
  border-radius: var(--border-radius-md);
  cursor: pointer;
  background-color: transparent;
}

.trigger:hover,
.trigger[data-state="open"] {
  background-color: var(--color-grey-200);
}

.trigger:focus {
  outline: 2px solid var(--color-primary-600);
  outline-offset: 2px;
}
