.actionButtonsContainer {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.actionButton {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0.1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-icon {    
    font-size: var(--button-size-normal);
    color: var(--color-accent-dark-1);
}
