.root {
  display: flex;
  flex-direction: row;
  background-color: var(--color-grey-200);
  width: fit-content;
  border-radius: var(--border-radius-lg);
  border: var(--border-width-medium) solid var(--color-grey-300);
  font-size: var(--font-size-sm);
  font-family: var(--font-family-primary);
  cursor: pointer;
  padding: var(--space-3xs);
  gap: var(--space-2xs);
}

.segmentWrapper {
  position: relative;
  display: flex;
}

.indicator {
  position: absolute;
  inset: 0;
  border-radius: var(--border-radius-lg);
  border: var(--border-width-medium) solid var(--color-grey-300);
  background-color: var(--color-grey-100);
  z-index: 0;
}

.segment {
  position: relative;
  z-index: 1;
  border-radius: var(--border-radius-lg);
  padding: var(--space-2xs) var(--space-xs);
  display: flex;
  flex-direction: row;
  gap: var(--space-2xs);
  align-items: center;
  align-content: center;
  border: var(--border-width-medium) solid transparent;
  color: var(--color-grey-600);
}

.segment:hover {
  background-color: var(--color-grey-300);
  color: var(--color-grey-900);
}

.segmentSelected {
  color: var(--color-grey-700);
}

.segmentSelected:hover {
  background-color: var(--color-grey-100);
}

.iconContainer {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.segmentSelected .label {
  font-weight: var(--font-weight-medium);
}
