.fieldsContainer {
  display: flex;
  flex-direction: column;
  gap: var(--space-lg);
}

.fieldContainer {
  display: flex;
  flex-direction: column;
  gap: var(--space-2xs);
  width: 100%;
  min-width: 0;
}
