.kbd {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-family-base);
  font-weight: var(--font-weight-medium);
  border-radius: var(--border-radius-md);
  background-color: var(--color-grey-200);
  color: var(--color-grey-700);
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  padding: var(--space-2xs) var(--space-xs);
  font-size: var(--font-size-sm);
  line-height: 1;
}

.group {
  display: inline-flex;
  align-items: center;
  gap: var(--space-xs);
}

.separator {
  color: var(--color-grey-600);
  font-size: var(--font-size-sm);
  line-height: 1;
  user-select: none;
}
