.truncate {
  display: block;
  max-width: 100%;
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.default {
  color: var(--color-grey-900);
}

.white {
  color: var(--color-background);
}

.subtle {
  color: var(--color-grey-500);
}

.darkGrey {
  color: var(--color-grey-700);
}

.disabled {
  color: var(--font-color-disabled);
}

.error {
  color: var(--color-red-500);
}

.success {
  color: var(--color-green-600);
}

.warning {
  color: var(--color-yellow-700);
}

.black {
  color: var(--color-grey-900);
}

.fontSize-xs {
  font-size: var(--font-size-xs);
}

.fontSize-sm {
  font-size: var(--font-size-sm);
}

.fontSize-base {
  font-size: var(--font-size-base);
}

.fontSize-lg {
  font-size: var(--font-size-lg);
}

.fontSize-xl {
  font-size: var(--font-size-xl);
}

.fontSize-2xl {
  font-size: var(--font-size-2xl);
}

.fontSize-3xl {
  font-size: var(--font-size-3xl);
}

.fontSize-4xl {
  font-size: var(--font-size-4xl);
}

.fontSize-5xl {
  font-size: var(--font-size-5xl);
}

.fontSize-6xl {
  font-size: var(--font-size-6xl);
}
