.container {
  display: flex;
  flex-direction: column;
  border-radius: var(--border-radius-lg);
  border: var(--border-width-thin) solid var(--color-grey-500);
  overflow: hidden;
}

.editorAndOutputContainer {
  display: flex;
  flex-direction: row;
  gap: var(--space-2xs);
}
