.button {
  align-items: center;
  align-content: center;
  display: flex;
  border-radius: var(--border-radius-lg);
  width: fit-content;
  box-shadow: var(--shadow-2xs);
  gap: var(--space-2xs);
}

.button:hover {
  box-shadow: var(--shadow-xs);
}

.fullWidth {
  width: 100%;
}

.sizeSm {
  padding: var(--space-2xs) var(--space-xs) var(--space-2xs) var(--space-xs);
  font-size: var(--font-size-sm);
}

.sizeMd {
  padding: var(--space-2xs) var(--space-md) var(--space-2xs) var(--space-md);
  font-size: var(--font-size-base);
}

.sizeLg {
  padding: var(--space-md);
  font-size: var(--font-size-base);
}

.accent {
  background-color: var(--color-primary-300);
}

.accent:hover {
  background-color: var(--color-primary-400);
}

.accent:active {
  background-color: var(--color-primary-200);
  box-shadow: none;
}

.green {
  background-color: var(--color-green-400);
  box-shadow: var(--shadow-green-inset), var(--shadow-xs);
}

.green:hover {
  background-color: var(--color-green-500);
}

.green:active {
  background-color: var(--color-green-300);
  box-shadow: none;
}

.red {
  background-color: var(--color-red);
}

.red:hover {
  background-color: var(--color-red-dark-1);
}

.red:active {
  background-color: var(--color-red-dark-2);
}

.lightgrey {
  background-color: var(--color-grey-200);
}

.lightgrey:hover {
  background-color: var(--color-grey-300);
}

.lightgrey:active {
  background-color: var(--color-grey-200);
}

.grey {
  background-color: var(--color-grey-500);
}

.grey:hover {
  background-color: var(--color-grey-600);
}

.grey:active {
  background-color: var(--color-grey-700);
}

.transparent {
  background-color: transparent;
  outline: var(--border-default-medium);
}

.transparent:hover {
  background-color: var(--color-grey-400);
}

.transparent:active {
  background-color: var(--color-grey-300);
}

.white {
  background-color: var(--color-background);
  color: var(--color-text);
}

.white:hover {
  background-color: var(--color-grey-300);
}

.white:active {
  background-color: var(--color-grey-600);
}
