.button {
  padding: var(--space-xs);
  border-radius: var(--border-radius-lg);
  display: flex;
  cursor: pointer;
  transition:
    transform 0.1s ease-out,
    background-color 0.2s ease-out;
  border: none;
  align-items: center;
  align-content: center;
}

.button:active {
  transform: scale(0.9);
}

.active {
  background-color: var(--color-primary-200);
}

.active:hover {
  background-color: var(--color-primary-300);
}

.active:active {
  background-color: var(--color-primary-100);
}

.inactive {
  background-color: transparent;
}

.inactive:hover {
}

.inactive:active {
}
