.container {
    display: flex;
    flex-direction: column;
    border-radius: var(--border-radius-lg);
    border: var(--border-width-thick) solid var(--color-grey);
    overflow: hidden;
}

.editorAndOutputContainer {
    display: flex;
    flex-direction: row;
    gap: var(--space-2xs);
}
