.formRoot {
  display: flex;
  flex-direction: column;
  gap: var(--space-lg);
  width: 100%;
}

.formElements {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  column-gap: var(--space-sm);
  row-gap: var(--space-sm);
  grid-auto-rows: minmax(50px, auto);
  padding: var(--space-sm);
  overflow-y: auto;
  background-color: var(--color-background);
  border-radius: var(--border-radius-lg);
}

.formField {
  display: flex;
  flex-direction: row;
  gap: var(--space-md);
  align-items: center;
  width: 100%;
}

.formLabelControlRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--space-sm);
}

.formLabel {
  font-size: var(--font-size-sm);
  font-weight: var(--label-font-weight);
  color: var(--label-color);
  min-width: 90px;
}

.formInput {
  font-size: var(--font-size-sm);
  padding: var(--space-2xs);
  border-radius: var(--border-radius-lg);
  border: var(--border-input);
  transition: border-color 0.2s;
  color: var(--color-text);
  background-color: var(--input-background);
}

.formInput::-webkit-outer-spin-button,
.formInput::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.formInput[type="number"] {
  -moz-appearance: textfield;
}

.formInput:focus {
  outline: none;
  border: var(--border-input-focus);
  box-shadow: var(--shadow-accent-md);
}

.formInput:disabled {
  opacity: 0.6;
  cursor: not-allowed;
  background-color: var(--color-grey-100);
}

.formMessage {
  color: var(--color-red-dark-2);
  font-size: var(--font-size-xs);
}

.formButtonRow {
  display: flex;
  justify-content: flex-end;
  gap: var(--space-md);
  /* margin-top: var(--space-xs);
  padding-top: var(--space-sm); */
}
