.passwordContainer {
  position: relative;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.passwordInputWrapper {
  position: relative;
}

.passwordInputWrapper > div > div:last-child {
  display: none;
}

.visibilityButton {
  position: absolute;
  right: var(--space-xs);
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  z-index: var(--z-index-1);
}
