.passwordContainer {
  position: relative;
  display: flex;
  align-items: center;
}

.passwordInputWrapper > div > div:last-child {
  display: none;
}

.visibilityButton {
  position: absolute;
  right: var(--space-xs);
  display: flex;
  align-items: center;
  z-index: var(--z-index-1);
}
